<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spaceheist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Space Heist"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpaceHeist">
        <activity
            android:name=".Credits"
            android:exported="true" />
        <activity
            android:name=".ActivityQuizResult"
            android:exported="true" />
        <activity
            android:name=".QuestionsActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".help"
            android:exported="true" />
        <activity
            android:name=".StartActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ResultActivity"
            android:exported="true" />
        <activity
            android:name=".ShopActivity"
            android:exported="true" />
    </application>

</manifest>